.MainWindow {
    display: flex;
    flex-direction: column;

    header {
        flex: 0 0 auto;
        background: linear-gradient(to top right, #78ffd7, #a8ff78);
        padding: 16px;
        color: white;
        padding-bottom: 30px;
        clip-path: ellipse(80% 50% at 50% 40%);

        h1 {
            margin: 0;
            font-family: 'Lobster', sans-serif;
            text-align: center;
            text-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }
    }

    article {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    section {
        margin: 20px;

        &:first-child {
            margin-top: -8px;
        }
    }

    .section-title {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #aaa;
        font-weight: bold;
        margin-bottom: 0;

    }
    .user-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .user {
        margin: 16px 15px;
        .bubble {
            width: 80px;
            height: 80px;
            border-radius: 100px;
            background: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            overflow: hidden;
            transition: background 300ms;
            
            &.hand {
                background: #c1ffa0;
                .symbol-container { transform: translateX(50px); }
            }

            &.time {
                background: #9fffe2;
                .symbol-container { transform: translateX(-50px); }
            }
                

            .symbol-container {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 300ms;

                div {
                    flex: 0 0 auto;
                    text-align: center;
                    transform: translateY(1px);
                    width: 50px;
                    opacity: 0;
                    transition: opacity 300ms;

                    &.show {
                        opacity: 1;
                    }
                }
            }
        }
        .name {
            font-size: 14px;
            text-align: center;
            margin-top: 4px;
            color: #aaa;
            width: 80px;
            height: 32px;
            overflow: hidden;
        }
    }
}
